.classpath
logback*.xml
.project
.settings/
target/
config.db
pos.1
pos.2
*~
*.swp
*.db
.metadata/
RemoteSystemsTempFiles/
*.log
logs
*.out
*.iml
bin/
deps/
*.cache
map/
spring-hibernate.xml
cul*
mvn*
*.jpeg
.idea
*.conf
*.json
db_bak/
*/dependency-reduced-pom.xml
**/dependency-reduced-pom.xml
*.versionsBackup
/jre/
/ui/dist/
!/ui/.tmp/
/ui2
node/node
node/npm
node/npm.cmd
!/.idea/
!/logs/
/.idea/
/src/main/resources/binlog.conf